name: Compile & Publish
on:
  push:
    paths:
      - docs/**
      - .github/**
jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          repository: icpmoles/landing
          path: landing
      - uses: actions/checkout@v3
        with:
          path: ASB
      - name: Self test
        uses: typst-community/setup-typst@v3
      - run: mkdir public; tree
      - name: Compile PDFs
        run: pwd; for file in ASB/docs/*.typ ; do typst compile $file; done; tree;
      - name: Clone repo check
        run: |
          pwd
          mkdir public/$(date  +"%Y-%m-%d")"at"$(date  +"%H-%M")
          cp *.pdf public
          cp public/*.pdf public/202*
          cp -r public/* landing/content/projects/asb/
          cd landing
          git add .
          git diff
          git config --global user.email "8940011+icpmoles@users.noreply.github.com"
          git config --global user.name "GitHub Action Bot"
          git commit -m "auto-update docs" -a || echo "No changes to commit"
          git push
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Output PDF files
          path: |
            public/*.pdf
          if-no-files-found: warn # 'warn' or 'ignore' are also available, defaults to `warn`